# dependencies
/node_modules
/.pnp
.pnp.js
 
# testing
/coverage
 
# next.js
/.next/
/out/
 
# production
/build
 
# misc
.DS_Store
*.pem
 
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
 
# local env files
.env*.local
 
# vercel
.vercel
 
node_modules
build
.env
 
# Ignore metadata from .DS_STORE file
.DS_STORE
 
package-lock.json
 
# Sentry
.sentryclirc
 
storybook-static
 
# Nginx compiled config
nginx.conf
logs/