.imageContainer{
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1rem 0.7rem;
    border-radius: 10px;
    background-image: linear-gradient(transparent,black);
  }
}

.cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.courseName {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  font-weight: $font-weight-semi-bold;
  font-size: 18px;
  width: 100%;
  padding: 0 20px;
}