.faqHeading {
  height: rem(68px);

  &:focus {
    box-shadow: none;
  }

  &::after {
    margin-left: 20px;
  } 

  &:not(.collapsed) {
    background: none;
    box-shadow: none;

    &::after {
      filter: brightness(0%);
    }
  }
}

.headerOpen {
  background: rgba($black, 0.05);;
} 

.faqBody {
  line-height: 24px;
}

.faqItem {
  border-bottom: 1px solid rgba($black, .05) !important;
  background: transparent;
  &:first-of-type {
    border-top: 1px solid rgba($black, .05) !important;
  }
}